<div class="hero flex flex-col md:flex-row justify-between items-center bg-gray-100 p-6">
    <div class="hero-content text-center md:text-left mb-4 md:mb-0 md:mr-4" style="margin-left: 8%;">
        <div class="max-w-xl md:max-w-full mx-auto md:ml-auto">
            <h2 class="text-3xl font-bold text-black hover:text-[#C84343] animate-bounce animate-twice animate-ease-linear">
                JUGADORES SEGUIDOS</h2>
        </div>
    </div>
    <div class="flex items-center space-x-2 md:space-x-4" style="margin-right: 2%;">
        <app-modal-new-report />
        <app-modal-new-player />
    </div>
</div>