<div>
  <app-navbar></app-navbar>
</div>

<!-- Container -->
<div *ngIf="player">
  <div class="max-w-[60rem] mx-auto px-4 sm:px-6 lg:px-8">
      <!-- Hero -->
      <div class="grid md:grid-cols-2 gap-4 md:gap-8 xl:gap-20 md:items-center">
          <div>
              <h3 class="block text-3xl font-bold text-gray-800 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white">
                  {{player.dorsal}} <span class="text-blue-600">{{player.name}} </span></h3>
              <p class="mt-3 text-lg text-gray-800 dark:text-gray-400">{{player.strongFoot}}</p>
    
              <!-- Buttons -->
              <div class="mt-7 grid gap-3 w-full sm:inline-flex">
                  <a class="py-2 px-3 inline-flex justify-center items-center gap-x-2 text-xs font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                      href="#">
                      Get started
                      <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round">
                          <path d="m9 18 6-6-6-6" />
                      </svg>
                  </a>
                  <!-- Botón para abrir el modal -->
                  <button (click)="openModal()" class="py-2 px-3 inline-flex justify-center items-center gap-x-2 text-xs font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">
                      Editar jugador
                  </button>
              </div>
              <!-- End Buttons -->
    
              <!-- Review -->
              <div class="mt-6 lg:mt-10 grid grid-cols-2 gap-x-5">
              </div>
              <!-- End Review -->
          </div>
          <!-- End Col -->
    
          <div class="relative ms-4">
              <img class="w-full rounded-md"
                  src="{{player.photo}}"
                  alt="Image Description">
              <div
                  class="absolute inset-0 -z-[1] bg-gradient-to-tr from-gray-200 via-white/0 to-white/0 size-full rounded-md mt-4 -mb-4 me-4 -ms-4 lg:mt-6 lg:-mb-6 lg:me-6 lg:-ms-6 dark:from-slate-800 dark:via-slate-900/0 dark:to-slate-900/0">
              </div>
              <!-- SVG -->
              <div class="absolute bottom-0 start-0">
                  <svg class="w-2/3 ms-auto h-auto text-white dark:text-slate-900" width="630" height="451"
                      viewBox="0 0 630 451" fill="none" xmlns="http://www.w3.org/2000/svg">
                  </svg>
              </div>
          </div>
          <!-- End Col -->
      </div>
      <!-- End Hero -->

    <!-- Modal -->
    <div *ngIf="player && modalOpened" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

            <!-- Aquí empieza el modal -->
            <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:text-left w-full">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                Editar jugador
                            </h3>
                            <!-- Formulario con los campos del jugador -->
                            <div class="mt-5">
                                <label for="name" class="block text-sm font-medium text-gray-700">Nombre:</label>
                                <input type="text" id="name" name="name" [(ngModel)]="editedPlayer.name" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                <label for="age" class="block text-sm font-medium text-gray-700">Edad:</label>
                                <input type="number" id="age" name="age" [(ngModel)]="editedPlayer.age" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                <label for="dorsal" >Dorsal.</label>
                                <input type="number" id="dorsal" name="dorsal" [(ngModel)]="editedPlayer.dorsal" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                <label for="weight">Peso:</label>
                                <input type="text" id="weight" name="weight" [(ngModel)]="editedPlayer.weight" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                <label for="height">Altura:</label>
                                <input type="text" id="height" name="height" [(ngModel)]="editedPlayer.height" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                <label for="nationality">Nacionalidad</label>
                                <input type="text" id="nationality" name="nationality" [(ngModel)]="editedPlayer.nationality" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                <label for="strongFoot">Pie Dominante</label>
                                <input type="text" id="strongFoot" name="strongFoot" [(ngModel)]="editedPlayer.strongFoot" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                              </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <!-- Botón para actualizar -->
                    <button (click)="updatePlayerData()" type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
                        Actualizar
                    </button>
                    <!-- Botón para cerrar el modal -->
                    <button (click)="closeModal()" type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin del Modal -->
  </div>

<div *ngIf="player" class="mt-8">
  <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th class="py-2 px-4">Dorsal</th>
        <th class="py-2 px-4">Peso</th>
        <th class="py-2 px-4">Altura</th>
        <th class="py-2 px-4">Nacionalidad</th>
        <th class="py-2 px-4">Pie Dominante</th>
        <th class="py-2 px-4">Edad</th>
      </tr>
    </thead>
    <tbody class="text-gray-700">
      <tr>
        <td class="py-2 px-4 text-center align-middle">{{ player.dorsal }}</td>
        <td class="py-2 px-4 text-center align-middle">{{ player.weight }} kg</td>
        <td class="py-2 px-4 text-center align-middle">{{ player.height }} cm</td>
        <td class="py-2 px-4 text-center align-middle">{{ player.nationality }}</td>
        <td class="py-2 px-4 text-center align-middle">{{ player.strongFoot }}</td>
        <td class="py-2 px-4 text-center align-middle">{{ player.age }} años</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
