<div *ngIf="player">
    <h2>{{ player.name }}</h2>
    <img [src]="player.photo" alt="Player Photo" width="200">
    <p>Edad: {{ player.age }}</p>
    <p>Equipo Actual: {{ player.actualTeam }}</p>
    <p>Nacionalidad: {{ player.nationality }}</p>
    <p>Posición: {{ player.position }}</p>
    <p>Peso: {{ player.weight }}</p>
    <p>Altura: {{ player.height }}</p>
    <p>Perfil Futbolístico: {{ player.strongFoot }}</p>
  </div>
  
  <div *ngIf="!player">
    <p>¡Jugador no encontrado!</p>
  </div>
  