<button class="btn" (click)="showModal()">+ Create Player</button>
<dialog id="my_modal_4" class="modal">
    <div class="modal-box w-11/12 max-w-5xl mx-auto flex flex-col">
        <h3 class="font-bold text-lg mb-3">Create Player</h3>
        <form method="dialog">
            <button (click)="closeModal()" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
          </form>
        <form #playerForm="ngForm" (ngSubmit)="submitForm(playerForm)" class="flex flex-col items-center">
            <input type="text" placeholder="Full Name" class="input input-bordered w-full max-w-xs mb-3" name="name" ngModel required />
            <input type="number" placeholder="Age" class="input input-bordered w-full max-w-xs mb-3" name="age" ngModel required />
            <input type="text" placeholder="Actual Team" class="input input-bordered w-full max-w-xs mb-3" name="actualTeam" ngModel required />
            <input type="number" placeholder="Dorsal" class="input input-bordered w-full max-w-xs mb-3" name="dorsal" ngModel required />
            <input type="text" placeholder="Nationality" class="input input-bordered w-full max-w-xs mb-3" name="nationality" ngModel required />
            <select class="select select-bordered w-full max-w-xs mb-3" name="position" ngModel required>
                <option value="" disabled selected>Position</option>
                <option>Delantero</option>
                <option>Medio Campo</option>
                <option>Defensa</option>
                <option>Portero</option>
            </select>
            <input type="text" placeholder="Weight" class="input input-bordered w-full max-w-xs mb-3" name="weight" ngModel required />
            <input type="text" placeholder="Height" class="input input-bordered w-full max-w-xs mb-3" name="height" ngModel required />
            <select class="select select-bordered w-full max-w-xs mb-3" name="strongFoot" ngModel required>
                <option value="" disabled selected>Strong Foot</option>
                <option>Derecha</option>
                <option>Zurda</option>
                <option>Ambas</option>
            </select>
            <input type="text" placeholder="Url of Player image" class="input input-bordered w-full max-w-xs mb-3" name="photo" ngModel required />
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</dialog>