/* Estilo para el enlace activo */
.menu-horizontal .text-xl.active {
  position: absolute;
}

/* Estilo para la línea amarilla debajo del texto */
.menu-horizontal .text-xl.active::after {
  content: "";
  position: relative;
  bottom: -10px; /* Ajusta la posición vertical de la línea según sea necesario */
  left: 0;
  width: 100%;
  height: 5px; /* Grosor de la línea */
  background-color: yellow; /* Color de la línea */
  z-index: 999; /* Asegura que la línea esté en la capa superior */
}
