<div>
  <app-navbar></app-navbar>
</div>
<div class="carousel w-full h-80 relative overflow-hidden">
  <div id="item1" class="carousel-item w-100 absolute top-0 left-0">
    <img
      src="https://images.pexels.com/photos/16588254/pexels-photo-16588254/free-photo-of-jugando-deporte-juego-partido.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="w-full h-full object-cover" />
  </div>
  <div id="item2" class="carousel-item w-100 absolute top-0 left-0">
    <img
      src="https://images.unsplash.com/photo-1624280157150-4d1ed8632989?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      class="w-full h-full object-cover" />
  </div>
  <div id="item3" class="carousel-item w-100 absolute top-0 left-0">
    <img
      src="https://images.unsplash.com/photo-1489944440615-453fc2b6a9a9?q=80&w=1923&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      class="w-full h-full object-cover" />
  </div>
  <div id="item4" class="carousel-item w-100 absolute top-0 left-0">
    <img
      src="https://images.unsplash.com/photo-1526841931552-d5f57307638e?q=80&w=1945&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      class="w-full h-full object-cover" />
  </div>
  <div id="item5" class="carousel-item w-100 absolute top-0 left-0">
    <img
      src="https://images.unsplash.com/photo-1626248801379-51a0748a5f96?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      class="w-full h-full object-cover" />
  </div>
  <div id="item6" class="carousel-item w-100 absolute top-0 left-0">
    <img
      src="https://images.unsplash.com/photo-1569242185997-c9899faae8ce?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      class="w-full h-full object-cover" />
  </div>
  <div id="item7" class="carousel-item w-100 absolute top-0 left-0">
    <img
      src="https://images.unsplash.com/photo-1554041535-c9dd18d0ec67?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      class="w-full" />
  </div>
</div>
<div class="flex justify-center w-full py-2 gap-2">
  <button class="btn btn-xs" (click)="moveCarousel(-1)">Anterior</button>
  <button class="btn btn-xs" (click)="moveCarousel(0)">1</button>
  <button class="btn btn-xs" (click)="moveCarousel(1)">2</button>
  <button class="btn btn-xs" (click)="moveCarousel(2)">3</button>
  <button class="btn btn-xs" (click)="moveCarousel(3)">4</button>
  <button class="btn btn-xs" (click)="moveCarousel(4)">5</button>
  <button class="btn btn-xs" (click)="moveCarousel(5)">6</button>
  <button class="btn btn-xs" (click)="moveCarousel(6)">7</button>
  <button class="btn btn-xs" (click)="moveCarousel(1)">Siguiente</button>
</div>
<div>
  <app-footer></app-footer>
</div>