  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="carousel w-full h-80 relative overflow-hidden">
    <div id="item1" class="carousel-item w-full h-full absolute top-0 left-0 flex">
      <!-- Columna de la imagen -->
      <div class="w-1/2 h-full flex justify-center items-center">
        <img
          src="https://images.pexels.com/photos/16588254/pexels-photo-16588254/free-photo-of-jugando-deporte-juego-partido.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="w-full h-full object-cover" />
      </div>
      <!-- Columna de texto y botón -->
      <div class="w-1/2 h-full flex flex-col justify-center items-center">
        <p class="text-white text-center mb-4">Jugador Destacado</p>
        <button class="btn btn-primary">Ver Perfil</button>
      </div>
    </div>
    <div id="item2" class="carousel-item w-full h-full absolute top-0 left-0 flex">
      <!-- Columna de la imagen -->
      <div class="w-1/2 h-full flex justify-center items-center">
        <img
          src="https://images.unsplash.com/photo-1489944440615-453fc2b6a9a9?q=80&w=1923&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="w-full h-full object-cover" />
      </div>
      <!-- Columna de texto y botón -->
      <div class="w-1/2 h-full flex flex-col justify-center items-center">
        <p class="text-white text-center mb-4">Jugador Destacado</p>
        <button class="btn btn-primary">Ver Perfil</button>
      </div>
    </div>
    <div id="item3" class="carousel-item w-full h-full absolute top-0 left-0 flex">
      <!-- Columna de la imagen -->
      <div class="w-1/2 h-full flex justify-center items-center">
        <img
          src="https://images.unsplash.com/photo-1489944440615-453fc2b6a9a9?q=80&w=1923&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="w-full h-full object-cover" />
      </div>
      <!-- Columna de texto y botón -->
      <div class="w-1/2 h-full flex flex-col justify-center items-center">
        <p class="text-white text-center mb-4">Jugador Destacado</p>
        <button class="btn btn-primary">Ver Perfil</button>
      </div>
    </div>
    <div id="item4" class="carousel-item w-full h-full absolute top-0 left-0 flex">
      <!-- Columna de la imagen -->
      <div class="w-1/2 h-full flex justify-center items-center">
        <img
          src="https://images.unsplash.com/photo-1526841931552-d5f57307638e?q=80&w=1945&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="w-full h-full object-cover" />
      </div>
      <!-- Columna de texto y botón -->
      <div class="w-1/2 h-full flex flex-col justify-center items-center">
        <p class="text-white text-center mb-4">Jugador Destacado</p>
        <button class="btn btn-primary">Ver Perfil</button>
      </div>
    </div>
    <div id="item5" class="carousel-item w-full h-full absolute top-0 left-0 flex">
      <!-- Columna de la imagen -->
      <div class="w-1/2 h-full flex justify-center items-center">
        <img
          src="https://images.unsplash.com/photo-1626248801379-51a0748a5f96?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="w-full h-full object-cover" />
      </div>
      <!-- Columna de texto y botón -->
      <div class="w-1/2 h-full flex flex-col justify-center items-center">
        <p class="text-white text-center mb-4">Jugador Destacado</p>
        <button class="btn btn-primary">Ver Perfil</button>
      </div>
    </div>
    <div id="item6" class="carousel-item w-full h-full absolute top-0 left-0 flex">
      <!-- Columna de la imagen -->
      <div class="w-1/2 h-full flex justify-center items-center">
        <img
          src="https://images.unsplash.com/photo-1569242185997-c9899faae8ce?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="w-full h-full object-cover" />
      </div>
      <!-- Columna de texto y botón -->
      <div class="w-1/2 h-full flex flex-col justify-center items-center">
        <p class="text-white text-center mb-4">Jugador Destacado</p>
        <button class="btn btn-primary">Ver Perfil</button>
      </div>
    </div>
    <div id="item7" class="carousel-item w-full h-full absolute top-0 left-0 flex">
      <!-- Columna de la imagen -->
      <div class="w-1/2 h-full flex justify-center items-center">
        <img
          src="https://images.unsplash.com/photo-1554041535-c9dd18d0ec67?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="w-full h-full object-cover" />
      </div>
      <!-- Columna de texto y botón -->
      <div class="w-1/2 h-full flex flex-col justify-center items-center">
        <p class="text-white text-center mb-4">Jugador Destacado</p>
        <button class="btn btn-primary">Ver Perfil</button>
      </div>
    </div>
  </div>
  <div class="flex justify-center w-full py-2 gap-2">
    <button class="btn btn-xs" (click)="moveCarousel(-1)">Anterior</button>
    <button class="btn btn-xs" (click)="moveCarousel(1)">1</button>
    <button class="btn btn-xs" (click)="moveCarousel(2)">2</button>
    <button class="btn btn-xs" (click)="moveCarousel(3)">3</button>
    <button class="btn btn-xs" (click)="moveCarousel(4)">4</button>
    <button class="btn btn-xs" (click)="moveCarousel(5)">5</button>
    <button class="btn btn-xs" (click)="moveCarousel(6)">6</button>
    <button class="btn btn-xs" (click)="moveCarousel(7)">7</button>
    <button class="btn btn-xs" (click)="moveCarousel(+1)">Siguiente</button>
  </div>

  <div>
    <app-videos></app-videos>
  <div>

    <div class="players-container mt-4 pb-8">
      <div
        *ngIf="pagedPlayers && pagedPlayers.length > 0"
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-4"
      >
        <div *ngFor="let player of pagedPlayers" class="bg-white rounded-lg shadow-lg">
          <!-- Contenido de la tarjeta -->
          <img [src]="player.photo" alt="Player Photo" class="w-full h-48 object-cover rounded-t-lg">
          <div class="p-4">
            <p class="text-lg font-bold">{{ player.name }}</p>
            <p class="text-gray-600 text-sm">{{ player.position }}</p>
            <div class="flex justify-between items-center mt-2">
              <p class="text-gray-700 text-sm">{{ player.dorsal }}</p>
              <p class="text-gray-700 text-sm">{{ player.nationality }}</p>
            </div>
            <div class="flex justify-between items-center mt-2">
              <p class="text-gray-700 text-sm">Eva. %: 85.3%</p>
              <p class="text-gray-700 text-sm">Ult. Eva.: 92</p>
              <p class="text-gray-700 text-sm">Informes: 12</p>
            </div>
            <div class="flex justify-between items-center mt-4">
              <div class="flex-grow">Recomendación</div>
              <button (click)="seguir()" class="btn btn-sm btn-primary">Seguir</button>
            </div>
            <div class="mt-4">
              <div>Próximo Seguimiento</div>
              <input type="date" [(ngModel)]="fechaSeguimiento" class="border border-gray-300 rounded-md px-2 py-1 mt-2 text-sm">
            </div>
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="onPageChange($event)" class="mt-4"></pagination-controls>
    </div>
    <div>
      <app-footer></app-footer>
    </div>