<div class="flex flex-col lg:flex-row justify-center">
    <!-- Video grande -->
    <div class="w-full lg:w-2/5 lg:pr-4 mb-4 lg:mb-0">
        <!-- Contenedor de la tarjeta -->
        <div class="bg-gradient-to-br from-yellow-200 to-yellow-300 rounded-lg overflow-hidden">
            <!-- Video -->
            <video class="w-full" controls>
                <source
                    src="https://cdn.pixabay.com/vimeo/226624891/futbol-10783.mp4?width=640&hash=421124e8844fe0e06f9d3aecad33adaae8311a1e"
                    type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <!-- Contenido de la tarjeta -->
            <div class="p-4">
                <h2 class="text-lg font-semibold mb-2 text-black">FC Factoria VS  Atletico Tomillo</h2>
                <p class="text-sm text-black">Encuentro espectacular de dos grandes equipos.</p>
            </div>
        </div>
    </div>
    <!-- Cuatro videos más pequeños -->
    <div class="w-full lg:w-2/5 lg:pl-4 flex flex-wrap justify-center lg:justify-start gap-3">
        <!-- Primer video pequeño -->
        <div class="w-1/2 sm:w-1/4 lg:w-2/5 mb-4 lg:mb-0 flex justify-center">
            <!-- Tarjeta del video pequeño -->
            <div class="bg-gradient-to-br from-yellow-200 to-yellow-300 rounded-lg overflow-hidden">
                <!-- Video -->
                <video class="w-full" controls>
                    <source
                        src="https://cdn.pixabay.com/vimeo/792078376/balon-de-futbol-147704.mp4?width=1280&hash=2739ce2aaaa35ed3d6b7db365c591f7b8da15a20"
                        type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <!-- Contenido de la tarjeta -->
                <div class="p-4">
                    <h2 class="text-lg font-semibold mb-2 text-black">Jornada de entrenamiento</h2>
                    <p class="text-sm text-black">Los más pequeños, dando lo mejor.</p>
                </div>
            </div>
        </div>
        <!-- Segundo video pequeño -->
        <div class="w-1/2 sm:w-1/4 lg:w-2/5 mb-4 lg:mb-0 flex justify-center">
            <!-- Tarjeta del video pequeño -->
            <div class="bg-gradient-to-br from-yellow-200 to-yellow-300 rounded-lg overflow-hidden">
                <!-- Video -->
                <video class="w-full" controls>
                    <source
                        src="https://cdn.pixabay.com/vimeo/506377734/futbol-63447.mp4?width=1280&hash=620b0fd68702b0b29fbd581f06b55ab258cbe193"
                        type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <!-- Contenido de la tarjeta -->
                <div class="p-4">
                    <h2 class="text-lg font-semibold mb-2 text-black">Grandes tomas desde el aire</h2>
                    <p class="text-sm text-black">Aprovechando el encuentro.</p>
                </div>
            </div>
        </div>
        <!-- Tercer video pequeño -->
        <div class="w-1/2 sm:w-1/4 lg:w-2/5 mb-4 lg:mb-0 flex justify-center">
            <!-- Tarjeta del video pequeño -->
            <div class="bg-gradient-to-br from-yellow-200 to-yellow-300 rounded-lg overflow-hidden">
                <!-- Video -->
                <video class="w-full" controls>
                    <source
                        src="https://cdn.pixabay.com/vimeo/425837349/estadio-40633.mp4?width=1280&hash=809f913402c89f718a12f250efe2b99a1537a465"
                        type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <!-- Contenido de la tarjeta -->
                <div class="p-4">
                    <h2 class="text-lg font-semibold mb-2 text-black">Entrenamientos</h2>
                    <p class="text-sm text-black">Nuestras jornadas de entreno.</p>
                </div>
            </div>
        </div>
        <!-- Cuarto video pequeño -->
        <div class="w-1/2 sm:w-1/4 lg:w-2/5 flex justify-center">
            <!-- Tarjeta del video pequeño -->
            <div class="bg-gradient-to-br from-yellow-200 to-yellow-300 rounded-lg overflow-hidden">
                <!-- Video -->
                <video class="w-full" controls>
                    <source
                        src="https://cdn.pixabay.com/vimeo/877653544/futbol-186252.mp4?width=1280&hash=da5e98412daa9d297bfb6fb5d21f5eff4d2abe87"
                        type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <!-- Contenido de la tarjeta -->
                <div class="p-4">
                    <h2 class="text-lg font-semibold mb-1 text-black">Panoramica</h2>
                    <p class="text-sm text-black">Uno de nuestros campos de preparación juvenil.</p>
                </div>
            </div>
        </div>
    </div>
</div>