<!-- icons-navbar.component.html -->

<div class="flex items-center">
    <!-- Barra de búsqueda -->
    <input type="text" placeholder="Buscar" class="px-2 py-1 mr-4 border border-gray-300 rounded-md focus:outline-none">
  
    <!-- Icono de usuario -->
    <a href="/#" class="text-gray-600 hover:text-gray-900 mr-4">
      <i class="fas fa-user"></i>
    </a>
  
    <!-- Icono de notificaciones-->
    <a href="/#" class="text-gray-600 hover:text-gray-900">
      <i class="fas fa-bell"></i>
    </a>
  </div>
  