<div>
    <app-navbar></app-navbar>
</div>
<app-header-secondary></app-header-secondary>
<app-header-detail></app-header-detail>
<div>
    <div *ngFor="let player of playersFollowed">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ player.name }}</h5>
            <img src="{{player.photo}}" alt="Image of {{ player.name }}" class="card-img-top">
            <p class="card-text">Actual Team: {{ player.actualTeam }}</p>
            <!-- Agrega más campos según necesites -->
          </div>
        </div>
      </div>
</div>

<div>
    <app-footer></app-footer>
</div>