<div class="hero min-h-screen" style="background-image: url(../../../assets/img/pexels-pixabay-46798.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Scoutify</h1>
        <p class="mb-5">¡Bienvenidos a Scoutify! La aplicación definitiva para reclutadores y cazatalentos en el mundo del fútbol. Con Scoutify, llevar un seguimiento de jugadores de todas las ligas nunca ha sido más fácil. Desde la Premier League hasta la Liga Femenina, nuestra plataforma te permite realizar informes detallados sobre cada jugador, ofreciéndote insights valiosos para descubrir el próximo talento estelar. Únete a Scoutify hoy mismo y lleva tu reclutamiento al siguiente nivel.</p>
        <app-login-form> Entrar </app-login-form>
        <!-- <app-register-form> Registrate </app-register-form> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>