<div class="hero min-h-screen flex flex-col justify-center items-center">
  <video autoplay muted loop id="background-video" class="absolute top-0 left-0 w-full h-full object-cover z-0">
    <source src="../../../assets/img/f7fec38c-338a77d4.mp4" type="video/mp4">
  </video>
  <div class="hero-overlay bg-opacity-60 absolute top-0 left-0 w-full h-full z-10"></div>
  <div class="hero-content text-center text-neutral-content relative z-20">
    <div class="max-w-md mx-auto px-4">
      <h1
        class="mb-5 text-4xl lg:text-5xl xl:text-6xl font-bold text-white hover:text-[#C84343] animate-bounce animate-thrice animate-ease-linear animate-alternate-reverse animate-fill-forwards">
        Scoutify
      </h1>
      <p class="mb-8 lg:mb-12 text-white text-lg lg:text-xl">
        ¡Bienvenidos a Scoutify! La aplicación definitiva para reclutadores y cazatalentos en el mundo del fútbol. Con
        Scoutify, llevar un seguimiento de jugadores de todas las ligas nunca ha sido más fácil. Desde la Premier League
        hasta la Liga Femenina, nuestra plataforma te permite realizar informes detallados sobre cada jugador,
        ofreciéndote insights valiosos para descubrir el próximo talento estelar. Únete a Scoutify hoy mismo y lleva tu
        reclutamiento al siguiente nivel.
      </p>
      <div class="flex justify-center gap-3">
        <app-login-form class="mb-4 lg:mb-0 lg:mr-2 lg:w-auto"></app-login-form>
        <app-register-form class="lg:w-auto"></app-register-form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>