h2 {
    background-color: blue;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin-left: 60%;
}

.container > div {
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 10px;
}